body {
    font-family: 'Arimo', sans-serif;
    background-color: rgba(242, 242, 242, 0.15);
}

a {
    text-decoration: none;
    color: inherit;
}

.pure-menu-list {
    font-family: 'Fira Sans', sans-serif !important;
}

.pure-menu-children {
    min-width: 100%;
}

.head-menu .pure-menu-link {
    color: #000;
}

.footer {
    height: 100px;
}

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
}

.head-menu-wrapper {
    background-color:  rgb(0, 176, 255);
    box-shadow: 0 1px 6px rgba(0,0,0,0.16);
}

.head-menu {
    height: 43px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.site-title {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 600;
    font-size: 1.7em;
    color: #fff;
    padding-left: 5px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 60px;
}

.author-dropdown {
}

.playlist-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    width: 500px;
}

.playlist-header {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

.playlist-name {
    font-family: 'Fira Sans', sans-serif !important;
    font-weight: 700;
    font-size: 1.3em;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    filter: blur(0.3px);
}

.author-date,
.playlist-duration {
    font-family: 'Fira Sans', sans-serif !important;
    font-size: 0.9em;
    line-height: 25px; /* hack */
}

.author-date {
    padding-left: 1px; /* hack for better v-alignment of title and date div*/
}

.playlist-duration {
    float: right;
}

 i.fa-calendar {
    padding-right: 1px;
}

i.fa-list-ol,
i.fa-clock-o {
    padding-right: 4px;
}

.avatar-wrapper {
    float: right;
}

.avatar-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right;
}

.playlist-image {
    padding: 10px;
    margin-top: -5px;
    max-width: 480px;
}

.button {
    box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.14), 0 1px 0 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

.pagination {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.paginate-button {
    background-color: white;
    color: black;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 100%;
    padding: .5em 1em;
    vertical-align: middle;
    text-align: center;
}

.paginate-button-prev {
    float: right;
    margin-right: 5px;
}

.paginate-button-next {
    float: left;
    margin-left: 5px;
}

.paginate-button-prev,
.paginate-button-next {
    width: 66px;
}

.paginate-button-first {
    float: right;
    margin-right: 10px;
}

.paginate-button-last {
    float: left;
    margin-left: 10px;
}

.posts-index {
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 500px;
    text-align: center;
}

.playlist-thumb {
    height: 200px;
    width: 200px;
    margin: 10px;
    display: inline-block;
    position: relative;
}

.playlist-thumb-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.playlist-thumb-title,
.playlist-thumb-meta {
    width: 100%;
}

.playlist-thumb-title {
    height: 150px; /* somewhat hack */
    padding-top: 10px;
    font-family: 'Fira Sans', sans-serif !important;
    font-weight: 700;
    font-size: 1.3em;
    overflow-wrap: break-word;
}

.playlist-thumb-meta {
    font-family: 'Fira Sans', sans-serif !important;
    font-size: 0.9em;
}

.playlist-thumb-date {
    font-size: 0.9em;
}

.playlist-thumb-cover {
    opacity: 0.7;
    filter: blur(15px);
    height: 100%;
    background-position: 25% 40%;
    overflow: hidden;
 }

.playlist-thumb:hover .playlist-thumb-cover {
    animation-name: move-playlist-thumb-cover;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 85s;
    animation-delay: 1s;
    animation-timing-function: ease;
}

@keyframes move-playlist-thumb-cover {
    0% {
    }

    30% {
        background-position: 80% 90%;
    }

    40% {
        background-position: 65% 35%;
    }

    60% {
        background-position: 15% 45%;
    }

    80% {
        background-position: 90% 55%;
    }

    100% {
        background-position: 60% 95%;
    }
}
