---
layout: default
---

{% assign author = site.data.authors[page.author] %}
<div class="playlist-container">
    <div class="pure-g">
        <div class="playlist-header card">
            <div class="pure-u-21-24 author-panel">
                <div class="playlist-name">
                    {{ page.title }}
                </div>
                <div class="author-info">
                    <div class="pure-g">
                        <div class="pure-u-1-2">
                            <div class="author-date"><i class="fa fa-calendar" aria-hidden="true"></i>{% include get_date.html raw_date=page.date %}</div>
                        </div>
                        <div class="pure-u-1-2">
                            {% if page.duration %}
                            <div class="playlist-duration" title="Продолжительность"><i class="fa fa-clock-o" aria-hidden="true"></i>{{ page.duration }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <a href="/{{ page.author }}" class="avatar-wrapper" title="Профиль {{ author.name }}">
                <img class="avatar-pic" src="/assets/img/avatars/{{ page.author }}.png" alt="{{ author.name }}">
            </a>
        </div>
        <div class="pure-u-1">
            <div class="embed-playlist card">
                {{ content }}
            </div>
        </div>
    </div>
</div>

<div class="pagination pure-g">
    <div class="pure-u-1-2">
    {% if page.previous %}
        {% assign prev = page.previous %}
        {% capture str_date %}{% include get_date.html raw_date=prev.date %}{% endcapture %}
        <a href="{{ prev.url }}" class="button paginate-button paginate-button-prev" title="Плейлист {{ site.data.authors[prev.author].name }} &quot;{{ prev.title }}&quot; от {{ str_date | normalize_whitespace }}"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
        {% assign last = site.posts.last %}
        {% capture str_date %}{% include get_date.html raw_date=last.date %}{% endcapture %}
        <a href="{{ last.url }}" class="button paginate-button paginate-button-first" title="Плейлист {{ site.data.authors[last.author].name }} &quot;{{ last.title }}&quot; от {{ str_date | normalize_whitespace }}"><i class="fa fa-fast-backward" aria-hidden="true"></i></a>
        {% endif %}
    </div>
    <div class="pure-u-1-2">
    {% if page.next %}
        {% assign next = page.next %}
        {% capture str_date %}{% include get_date.html raw_date=next.date %}{% endcapture %}
        <a href="{{ next.url }}" class="button paginate-button paginate-button-next" title="Плейлист {{ site.data.authors[next.author].name }} &quot;{{ next.title }}&quot; от {{ str_date | normalize_whitespace }}"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
        {% assign first = site.posts.first %}
        {% capture str_date %}{% include get_date.html raw_date=first.date %}{% endcapture %}
        <a href="{{ first.url }}" class="button paginate-button paginate-button-last" title="Плейлист {{ site.data.authors[first.author].name }} &quot;{{ first.title }}&quot; от {{ str_date | normalize_whitespace }}"><i class="fa fa-fast-forward" aria-hidden="true"></i></a>
    {% endif %}
    </div>
</div>

<input id="to-shave" type="hidden" value=".playlist-name;30">